.PostWrapper {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
.showF {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 5vh;
	margin: 5px 0 5px 0;
}

.showF button {
	margin-right: 15px;
}
.showF span {
	border: 1px solid blue;
	width: 25px;
	height: 80%;
	border-radius: 50px;
	font-size: 18px;
	display: flex;
	justify-content: center;
}
